package ${package.Service};

import ${superServiceClassPackage};
import com.baomidou.mybatisplus.plugins.Page;
import java.util.Map;
/**
 *
 * @author ${author}
 * @since ${date}
 */
public interface InfoBaseService<T1 extends SuperEntity<T1>, T2 extends SuperMapper<T1>> extends IService<T1> {

    String insertInfo(T1 t1);

    void updateInfo(T1 t1);

    Page<T1> queryList(Page<T1> page, EntityWrapper<T1> entityWrapper);

    T1 queryDetail(Map<String, Object> params);

    void deleteInfo(Map<String, Object> params);


}